<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".StartApplication"
        android:allowBackup="true"
        android:icon="@drawable/fried"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.AddMealService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".UpdateWidget"
            android:exported="false" />

        <receiver android:name=".AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobid" />

        <activity android:name=".Activities.AddMeal">

        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Activities.Details"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activities.Splash">

        </activity>
        <activity android:name=".Activities.SignUp.SignUp">

        </activity>
        <activity android:name=".Activities.Favourite" />
        <activity android:name=".Activities.SignIn.SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>